<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1 title="Django Blog" style="text-align:center; color:red;"><u>Django Girls Blog</u></h1>
        </div>

        <div style="text-align:center; background-color:aquamarine;">
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <pre>
               TESTS ÜBER TESTS DIE NICHT GEHEN VERDAMMT
            </pre>
        </div>

        {% for post in posts %}
        <div style="text-align:center;background-color:lightblue;">
            <p>published: {{post.published_date}}
            <h2><a href="">{{post.title}}</a></h2>
                {{post.text |linebreaksbr}}
            </p>
        </div>
        {% endfor %}
    </body>
</html>